* {
  font-family: "Open Sans", sans-serif;
}
/* navbar part */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav button {
  width: 150px;
  padding: 12px;

  color: #333;
  font-size: 1rem;

  border: none;
  border-radius: 50px;
  cursor: pointer;

  background-color: #7fb9f7;
}
nav button {
  margin-right: 15px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  display: block;
}
nav a {
  text-decoration: none;
  color: #f5f5f5;
}
/* page container background */
.container {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;

  background: linear-gradient(
      rgba(255, 255, 255, 0.85),
      rgba(255, 255, 255, 0.85)
    ),
    url("/css/images/appointment.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-right: 0px;
}
/* fieldset */
fieldset {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  width: 390px;
  margin: auto;
  background-color: #f5f5f5;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

  align-self: center;
}
fieldset legend {
  font-size: 20px;
  padding-left: 5px;
  color: #455a64;
}
label {
  display: block;
  font-size: 0.95rem;
  margin-bottom: 6px;
  color: #455a64;
  font-weight: 900;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
}
input[type="text"],
input[type="datetime-local"] {
  width: 90%;
  padding: 12px 16px;
  border: 2px solid #a9d6e5;
  border-radius: 12px;
  background-color: #42424200;
  font-size: 1rem;
  color: #2f4f4f;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 6px rgba(0, 166, 166, 0.05); /* ombre légère */
}

fieldset button {
  width: 150px;
  padding: 12px;

  color: #f5f5f5;
  font-size: 1rem;

  border: none;
  border-radius: 50px;
  cursor: pointer;

  background-color: #7fb9f7;
  margin-left: 120px;
}
/* apointment items */
.event-items {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-decoration: none;
}

.items {
  text-decoration: none;
  list-style: none;

  background-color: #f5f5f5;
  padding: 10px;
  margin: 10px auto;
  width: 100%;
  border-radius: 6px;
  border-color: #333;
  border-width: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.items button {
  border: none;
  border-radius: 4px;
  margin: 0 5px;
  padding: 5px 10px;
  cursor: pointer;
}
.event-items .update {
  background-color: #28a745;
}
.event-items .update:hover {
  background-color: #218838;
}
.delete {
  background-color: #dc3545;
}
.delete:hover {
  background-color: #c82333;
}
.event-items a {
  color: #f5f5f5;
  text-decoration: none;
}
/* footer part */
.fab {
  color: #f5f5f5;
}
.fab :hover {
  color: #e6f2ff;
}
.fas {
  color: #f5f5f5;
}
.fas :hover {
  color: #e6f2ff;
}
.fa-calendar-check {
  color: #455a64;
}
