/* footer part */
.footer-section {
  background-color: #00a6a6;
  text-emphasis-color: #ffffff;
}
.footer-login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-login h3 {
  font-size: 1.8rem;
  font-weight: 400;
  text-decoration: capitalize;
  line-height: 1rem;
}
.socialMedia {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 0 5px 0;
}
.socialMedia li {
  margin: 0 10px;
}
.socialMedia a {
  text-decoration: none;
}
.socialMedia a i {
  font-size: 20px;
  transition: color 0.4s ease;
}
.socialMedia a i:hover {
  color: #d0eafd;
}
.footer-bottom {
  font-size: 14px;
  word-spacing: 2px;
  text-decoration: capitalize;
  display: flex;
  margin-left: 0px;
}
.footer-bottom span {
  text-transform: uppercase;
  opacity: 0.4;
  font-weight: 200px;
}
